<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper tags">
		{{ partial "head.html" . }}

		<h1 class="page-title">{{ .Name }}</h1>

		{{ $max := 2 }}
		{{ $min := 1 }}
		{{ $size := 0 }}
		{{ $maxValueCount := 1 }}


		{{ $data := .Data }}
		{{ range $key, $value := .Data.Terms.ByCount}}
			{{ $maxValueCount = (cond (gt $value.Count $maxValueCount ) $value.Count $maxValueCount) }}
		{{ end }}

		{{ $maxValueCount = float $maxValueCount }}

		
		<div class="tag-cloud">
		{{ range $key, $value := .Data.Terms.ByCount }}
		   
			<!-- size := (value.count / maxValueCount) * max -->
			{{ $size = mul (div $value.Count $maxValueCount) $max }} 
			<!--  min if size < min else size -->
			{{ $size = cond (lt $size $min) $min $size }}
			<!--  max if size < max else size -->
			{{ $size = cond (gt $size $max) $max $size }}
			
			<a style="font-size: {{ $size }}rem;" href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }}<sup>{{ $value.Count }}</sup></a>
		{{ end }}
		</div>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
